@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #4b5563;
  --color-danger: #dc2626;
  --color-success: #16a34a;
  --color-warning: #d97706;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}